<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/default.css">
		</head>

		<body>
			<div>
				<h1>Charles Hadfield</h1>
				<h2 class=margin-bottom: 3cm>mathematics phd graduate of école normale supérieure</h2>
				<br>
				<hr>
				<div id=top-list>
					<ul>
	        			<li><a href="/">home</a></li>
	        			<li><a href="/math/index.html">math</a></li>
	        			<li><a href="/prof/index.html">prof</a></li>
	        			<li><a href="/rock/index.html">rock</a></li>
	        			<li><a href="/wind/index.html">wind</a></li>
	        			<li><a href="/grqs/index.html">grqs</a></li>
					</ul>
				</div>
				<hr>
				<br>
			</div>
		
			<div class="body-content">
			
			{{ content }}
			
			</div>
		</body>
	</html>